<!doctype html>
<html data-ng-app="">
	<head>
		<title>Using AngularJS Directives and Data Binding</title>
	</head>
	<body>
		<div class="container">
			Name: 
			<br/>
			<input type="text" data-ng-model="name" /> {{ name }}
		</div>
		
		<div class="container" data-ng-init="names=['Dave', 'Napur', 'Heedy', 'Shriva']">
		
			<h3>Looping with the ng-repeat Directive </h3>
			<ul>
				<li data-ng-repeat="name in names">{{ name }} </li>
			</ul>
		</div>
		<script src="scripts/angular.min.js"></script>
				
	</body>

</html>